 
    <!--   

       supplierinvoice_approvers.hbs

    -->    

    <h1>Facturas para Aprobación</h1>

   
    <div>


    <div class="invoicesupplier" id="invoicesupplier">
    <!--
        <input id="message_err"  name="message_err" value="{{message_err}}" type="hidden" />
    -->
        <table id="tsupplierinvoice" name="tsupplierinvoice" 
                class="table table-striped table-bordered tinvoicesupplier" cellspacing="0" width="50%">

         <a href="/supplierinvoice_add" class="btn btn-success pull-left" role="button">+ Agregar Factura</a>

        </table>
    </div>

    </div>



<!--  ************************************************ -->

<!--  *********     J A V A S C R I P T    *********** -->

<!--  ************************************************ -->


<script src="/js/tsupplierinvoice.js" type="text/javascript"> 

    $(document).ready(function () 
    {   

        if ($(#message_err).val())
        {
            $.toaster({ priority : 'warning', title : 'Title',  message: $(#message_err).val()});
        }
    });

</script>

