<!-- *****************************************

        Supplierinvoice_new_detail_menu.hbs

***************************************** -->  

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container  container-fluid head-tit">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                 data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 name="titulo" id="titulo">
               {{ title }}
          </h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active">       <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a onclick="grabar()" name="grabar" id="grabar">Grabar</a></li>
<!--                <li><a href="/supplierInvoiceInsert">Grabar Nueva Factura</a></li>                
-->

                <li><a href="/supplierInvoiceNew/{{_id}}">Salir sin Grabar</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/supplierInvoiceDelete">Borrar Documento</a></li>
                <li role="separator" class="divider"></li>

                <li><a href="/">Regresar al Menu Principal</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
</nav>
